.footer {
	background-color: #2F2F2F;
	    padding: 4rem 0 16rem 0;
    overflow: hidden;
    @media screen and (max-width: 999px) {
				padding: 2rem 0 7rem 0;
			}
	.contacts {
		.contacts--flex {
			justify-content: center;
			 @media screen and (max-width: 999px) {
				justify-content: space-around;
			}
		.contacts__block {


			.contacts_icon {
				&:before {
					font-size: 2rem;
color: @peachy; 
 @media screen and (max-width: 999px) {
				font-size: 1.2rem;
			}
				}

			}
			.email {
				margin-right: 14px;
			}
			.contacts__text {
				    text-decoration: none;
    color: white;
				display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    cursor: pointer;
    -moz-transition: opacity 0.2s 0.02s ease;
 -o-transition: opacity 0.2s 0.02s ease;
 -webkit-transition: opacity 0.2s 0.02s ease;
 @media screen and (max-width: 999px) {
				height: 48px;
			}
&:hover {
	opacity: 0.5;
}

				.contacts__name-block {
    text-transform: uppercase;
	margin-bottom: 3%;
	 @media screen and (max-width: 999px) {
				font-size: 10px;
			}

				}
				.contacts__info-block {
    font-size: 0.72rem;
    @media screen and (max-width: 999px) {
				font-size: 0.62rem;
			}
				}
			}

		}
		

		}
	.footer__triangle {
position: absolute;
    border-bottom: 1rem solid @peachy;
    border-left: 1rem solid @peachy;
    transform: rotate(135deg);
    width: 18rem;
    height: 18rem;
    top: 11rem;
    left: 25rem;
    @media screen and (max-width: 999px) {
				 width: 16rem;
    height: 18rem;
    top: 7rem;
    left: 4.7rem;
			}
    .footer__author {
    	    top: 11.6rem;
    left: -0.6rem;
    position: absolute;
    transform: rotate(-135deg);
     @media screen and (max-width: 999px) {
				font-size: 10px;
    width: 23%;
    top: 14rem;
    text-align: center;
    left: 0.3rem;
			}
    }
    .footer__copyright {
    	text-transform: uppercase;
    position: absolute;
    transform: rotate(-135deg);
    top: 10.5rem;
    left: 1.8rem;
    }
		}
	}
}