.scroll-frozen {
	overflow: hidden;
}

.dialog-video {
display: none;
.close {
	.modal-close;

}
.video-player {
width: 100%;
    border-radius: 5px;
}
}

.dialog-form {
	color: @brown;
	display: none;
	.close {
		.modal-close;
	}
	.modal__form {
		.modal__form-box {
			margin-top: 15px;
			border: 13.04px solid @peachy;
			padding: 2.8125rem;
			text-align: left;
			position: relative;
			.form-callback {
				.form-callback__title {
					font-size: 1.25rem;
					margin-bottom: 1.25rem;
				}
				.form-callback__input {


					padding: 1.25rem;
					width: 17rem;
					height: 3.5rem;
					background-color: #fff;
					border: 1px solid #fbfaf5;
					border-radius: 5px;
					box-shadow: inset 1px 1.7px 5px rgba(53,42,44,.27);
					margin-bottom: 2.5rem;
				}
				.modal__form-btn {
					position: absolute;
					z-index: 5;

					top: 20.75rem;
					left: 6.25rem;
					background-color: transparent;
					border: none;
					text-decoration: none;
					outline: none;
					display: inline-block;
					padding: 15px 30px;
					margin: 10px 20px;
					border-radius: 30px;
					box-shadow: 0 0 40px 40px @peachy inset;
					font-family: 'Montserrat', sans-serif;
					font-weight: bold;
					letter-spacing: 2px;
					color: white;
					transition: .15s ease-in-out;

					&:hover {
						transform: scale(1.2);

					}
				}
			}
		}
	}
	.form-callback__main-title {
		padding: 2.8125rem 0 7.825rem 2.125rem;
		text-align: left;
		line-height: 1.2;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		.form-callback__title-text {
			font-size: 3.8125rem;
			.form-callback__title-text--bold {
				font-weight: 900;
					font-family: Arial;
			}
		}
		.form-callback__title-info {
			width: 70%;
			font-size: 1rem;
		}
		.form-callback__img {
			position: absolute;
			right: 0rem;
			bottom: 1rem;
		}
	}

}
.ui-dialog {
	.ui-dialog-content {
		padding: 4%;
	}
}
.ui-widget-overlay {
	background: black;
	opacity: .7; 
}
.error {
	border: 2px solid #e61A32;
}

.success {
display: none;
font-family: Arial;
    font-size: 52px;
    text-align: center;
    font-weight: 900;
}

.dialog-map {
display: none;
.close {
	.modal-close;

}
}