.project {
	background-color: @light-grey;
	padding: 6% 0 0;
	    overflow: hidden;
	    position: relative;
	    @media screen and (max-width: 430px) {
			padding: 9% 0;
			}
	.project__content {
		.project__title {
			.title;
			margin-bottom: 5%;
			.project__text {
				color: @brown;
			}
			.project__line {
				border-top: 1px solid @brown;
			}

		}
		.project-slider {
			.project-slider__slide {
				.project-slider__image {
					    position: relative;
					.project-slider--img {
						    width: 100%;
    box-sizing: border-box;
						
					}

					.project-slider__text {
position: absolute;
text-transform: uppercase;
					}
					.project-slider__main-title {

top: 5%;
font-weight: 600;
    font-size: 23px;
    left: 15%;
    letter-spacing: 5px;
    line-height: 32px;
    @media screen and (max-width: 430px) {
				font-size: 9px;
				 left: 8%;
    letter-spacing: 4px;
    line-height: 13px;
			}
			@media (min-width: 490px) and (max-width: 660px) {
				font-size: 19px;
    left: 12%;
    line-height: 25px;
			}
					}
					.project-slider__title {

top: 81%;
transform: rotate(-90deg);
font-size: 16px;
    font-weight: 600;
    letter-spacing: 8px;
    left: -21%;
     @media screen and (max-width: 430px) {
				top: 61%;
				font-size: 7px;
				left: -59%;
				line-height: 10px;
			}
			 @media (min-width: 490px) and (max-width: 660px) {
				top: 63%;
				font-size: 15px;
				left: -44%;
			}
					}
				}
				
					
				
			}
		}
	}
	.project-slider__arrow {
		cursor: pointer;
		opacity: 0.8;
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	height: 60px;
	position: absolute;
	top: 56%;
	width: 60px;
	@media screen and (max-width: 430px) {
				height: 35px;
				width: 35px;
				top: 50%;
			}
			
}
.project-slider__arrow--left {
	left: 3%;
	@media screen and (max-width: 430px) {
				 left: 1%;
			}
	&:after {
		.header-slider-arrow;
		margin: 38% 44%;
		transform: rotate(45deg);
		@media screen and (max-width: 430px) {
				   margin: 32% 37%;
			}
	}
}
.project-slider__arrow--right {
	
	right: 3%;
	@media screen and (max-width: 430px) {
				 right: 1%;
			}
	&:after {
		.header-slider-arrow;
		margin: 40% 32%;
		transform: rotate(-135deg);
		@media screen and (max-width: 430px){
    margin: 30% 26%;
}
	}
}



}




